*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

body {
  font-family: "Encode Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a2a49f), color-stop(#e0d0c4), to(#f1dac4));
  background-image: -o-linear-gradient(left, #a2a49f, #e0d0c4, #f1dac4);
  background-image: linear-gradient(90deg, #a2a49f, #e0d0c4, #f1dac4);
  position: relative;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hidden {
  overflow: hidden;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin-bottom: -1px;
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 60px;
    display: flex;
    justify-content: center;
  }
}

.my__social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #edefee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .my__social-links {
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .my-networks-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.my__main-links {
  background-color: #edefee;
}
@media screen and (min-width: 1200px) {
  .my__main-links {
    margin-left: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .about-me {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .my__main-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

.my-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 10px;
  line-height: 1.2;
  margin-bottom: 10px;
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .my-contacts {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.8;
  }
}

.my__communication {
  margin-left: 10px;
}

.contact {
  color: black;
}

.headings {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .headings {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
  }
}

.about-me__description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .about-me__description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
  }
}

@media screen and (min-width: 1200px) {
  section {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .my-project__WebStudio,
.my-project__Ice-cream {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    color: #212121;
    background-color: #edefee;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 4px 4px;
  }
}

.networks__telegram {
  fill: #3b5998;
}

.networks__facebook {
  fill: #2f477a;
}

.networks__github {
  fill: #171515;
}

.my-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .my-info {
    position: absolute;
    top: 250%;
    left: 0;
  }
}

.my__social-networks:not(:first-child) {
  margin-left: 30px;
}
@media screen and (min-width: 1200px) {
  .my__social-networks:not(:first-child) {
    margin-left: 70px;
  }
}

.my-photo {
  width: 220px;
  height: 280px;
}
@media screen and (min-width: 1200px) {
  .my-photo {
    width: 450px;
    height: 550px;
  }
}

.page-header__contact-icon {
  width: 12px;
  height: 8px;
}
@media screen and (min-width: 1200px) {
  .page-header__contact-icon {
    width: 16px;
    height: 12px;
  }
}

.network {
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 1200px) {
  .network {
    width: 30px;
    height: 30px;
  }
}/*# sourceMappingURL=main.css.map */