.about-me {
	@include respond-to(dekstop) {
		position: absolute;
		top: 20%;
		left: 50%;
	}
}
.about-me__description {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.4;
	@include respond-to(dekstop) {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.9;
	}
}
