.my-project__WebStudio,
.my-project__Ice-cream {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.7;
	color: #212121;
	background-color: #edefee;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px 4px 4px 4px;
	@include respond-to(dekstop) {
		font-size: 16px;
		line-height: 1.9;
	}
}
